.hero-marquee.unity-enabled {
  overflow: unset;
}

.hero-marquee.unity-enabled::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 20px;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(255 255 255 / 0%), rgba(255 255 255 / 50%));
  filter: blur(5px);
  backdrop-filter: blur(1px);
  opacity: 0.8;
}

.hero-marquee.unity-enabled .interactive-area {
  display: inherit;
  justify-content: center;
  background: none;
}

.hero-marquee.unity-enabled .interactive-area .text {
  max-width: 800px;
  margin: var(--spacing-xxl) 0 var(--spacing-m);
}

.hero-marquee.unity-enabled .icon-area {
  height: 32px;
  width: auto;
  margin: 0 auto;
}

.hero-marquee.unity-enabled [class^="heading-"]:only-of-type,
.hero-marquee [class^="heading-"]:last-of-type {
  margin-bottom: var(--spacing-xxs);
}

.hero-marquee.unity-enabled .interactive-area .text .body-m {
  font-weight: 400;
}

.hero-marquee.unity-enabled p:last-of-type {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  padding-top: var(--spacing-s);
}

.unity-enabled .interactive-area .ex-unity-wrap {
  position: relative;
}

.unity-enabled .interactive-area .ex-unity-wrap .alert-holder {
  background: none;
  transform: translateY(-100%);
  bottom: 30%;
  top: unset;
}

.unity-enabled .interactive-area .alert-holder .alert-toast {
  width: auto;
  max-width: 340px;
}

.unity-enabled .interactive-area .alert-holder .alert-toast .alert-content .alert-icon {
  justify-content: space-between;
  width: 100%;
}

.unity-enabled .interactive-area .alert-holder .alert-toast .alert-content .alert-text {
  width: auto;
}

.unity-enabled .interactive-area .alert-holder .alert-toast .alert-content .alert-text p {
  padding-top: 0;
}

.unity-enabled .interactive-area .ex-unity-wrap + a {
  display: inline-block;
  margin-top: var(--spacing-xs);
}

.unity-enabled .interactive-area .ex-unity-wrap .unity-sprite-container {
  display: none;
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .widget-bg {
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: 10rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  transition: opacity 0.1s cubic-bezier(0, 0, 1, 1), visibility 0.1s cubic-bezier(0, 0, 1, 1);
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky .widget-bg {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1), visibility 0.2s cubic-bezier(0, 0, 1, 1);
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky.hidden .widget-bg {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1), visibility 0.2s cubic-bezier(0, 0, 1, 1), translate 0.2s cubic-bezier(0, 0, 1, 1);
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .widget-bg.blur {
  -webkit-mask: linear-gradient(#0000 0%, #000 95%);
  mask: linear-gradient(#0000 0%, #000 95%);
  filter: blur(40px);
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .widget-bg .bg-one {
  background-image: linear-gradient(#b2dfff00, #b2dfffb3 48%, #b2dfff);
  flex: 0 auto;
  width: 60%;
  height: 100%;
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .widget-bg .bg-two {
  background-image: linear-gradient(#b0acfe00, #b0acfebf 43%, #b0acfe);
  flex: 0 auto;
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
}

.unity-enabled .interactive-area .ex-unity-wrap:not(.sticky) .ex-unity-widget {
  padding: 0 var(--spacing-l);
  animation: fade-in 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  position: relative;
  z-index: 1;
}

.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget {
  width: 720px;
  animation: fade-out 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.unity-enabled .interactive-area .ex-unity-wrap.sticky.hidden .ex-unity-widget {
  animation: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .autocomplete {
  position: relative;
  background: linear-gradient(88.83deg, rgba(255 255 255 / 80%) 1.96%, rgba(255 255 255 / 20%) 415.55%);
  border-radius: var(--spacing-m);
  box-shadow: 0 0 10px #0000001c;
  border-top: 1px solid #FFFFFFA8;
  width: 720px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap {
  display: flex;
  padding-right: var(--spacing-xxs);
  align-items: center;
  border-radius: var(--spacing-m);
  gap: var(--spacing-s);
  background: transparent;
  transition: background 0.3s ease-in-out;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap:hover {
  background: rgba(255 255 255 / 30%);
  transition: background 0.2s ease-in-out;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap:focus-within {
  background: rgba(255 255 255 / 60%);
  transition: background 0.2s ease-in-out;
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-3px);
  transition: opacity 0.1s cubic-bezier(0, 0, 1, 1), visibility 0.5s cubic-bezier(0, 0, 1, 1), translate 0.1s cubic-bezier(0, 0, 1, 1);
}

.hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky {
  position: fixed;
  bottom: 30px;
  left: 0;
  z-index: 101;
  width: 100%;
  display: flex;
  justify-content: center;
  visibility: visible;
}

.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget .inp-wrap {
  background: linear-gradient(rgba(255 255 255 / 80%), rgba(255 255 255 / 80%));
}

.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget .inp-wrap:hover {
  background: linear-gradient(rgba(255 255 255 / 90%), rgba(255 255 255 / 90%));
  transition: background 0.2s ease-in-out;
}

.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget .inp-wrap:focus-within {
  background: linear-gradient(rgba(255 255 255 / 100%), rgba(255 255 255 / 100%));
  transition: background 0.2s ease-in-out;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap .inp-field {
  padding: 9px 5px 10px;
  flex: 1;
  color: #222;
  font-size: var(--type-body-s-size);
  font-weight: 400;
  line-height: 20.8px;
  border: none;
  width: 100%;
  border-radius: 3px;
  font-family: inherit;
  outline: none;
  background: linear-gradient(rgba(255 255 255 / 0%), rgba(55 255 255 / 0%));
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap .inp-field::placeholder {
  font-style: italic;
  color: #222;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap {
  display: flex;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .unity-act-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .unity-act-btn:focus {
  outline: 2px solid #005FCC;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .unity-act-btn .btn-ico {
  display: flex;
  align-content: center;
}

.unity-enabled .interactive-area .selected-verb > img {
  position: relative;
  top: 1px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .unity-act-btn .btn-ico img {
  width: 24px;
  height: 24px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .unity-act-btn .btn-txt {
  display: flex;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .surprise-btn {
  border-radius: 16px;
  border: 2px solid #292929;
  color: #292929;
  font-size: var(--type-body-xs-size);
  font-weight: 700;
  line-height: normal;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .surprise-btn.hidden {
  display: none;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .gen-btn {
  border-radius: 25px;
  background: linear-gradient(90deg, #D73220 0%, #D92361 33%, #7155FA 100%);
  border: none;
  padding: 12px 24px 14px;
  gap: 8px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap .gen-btn .btn-txt {
  color: var(--color-white);
  font-size: 19px;
  font-weight: 700;
  line-height: normal;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop {
  background: linear-gradient(0deg, rgba(255 255 255 / 100%) 0%, rgba(255 255 255 / 100%) 100%), linear-gradient(89deg, rgba(255 255 255 / 80%) 1.01%, rgba(255 255 255 / 20%) 111.14%);
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / 16%);
  list-style: none;
  width: 100%;
  border-radius: 16px;
  padding: 8px 0;
  margin: 8px 0 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget .drop.open-upward {
  bottom: 100%;
  margin-bottom: 10px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xxs) var(--spacing-xs);
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con .drop-title {
  font-weight: 700;
  font-size: var(--type-body-s-size);
  color: #292929;
  line-height: 20.8px;
  padding: 0 var(--spacing-xxs);
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con .close-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con.dynamic .close-btn {
  margin-left: auto;
}

.unity-enabled .interactive-area .selected-verb .menu-icon,
.unity-enabled .interactive-area .verb-list .verb-link .selected-icon {
  font-size: 0;
}

.unity-enabled .interactive-area .selected-verb .menu-icon,
.unity-enabled .interactive-area .selected-verb .menu-icon svg,
.unity-enabled .interactive-area .verb-list .verb-link .selected-icon,
.unity-enabled .interactive-area .verb-list .verb-link .selected-icon svg {
  width: 12px;
  height: 12px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con .close-btn svg {
  width: 10px;
  height: 10px;
  display: block;
  padding: 5px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con.dynamic .title-text {
  color: var(--color-gray-500);
  font-weight: 900;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con.dynamic .refresh-btn {
  margin-left: 5px;
  background: transparent;
  border: 0;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-item svg {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con.dynamic .refresh-btn svg {
  width: 15px;
  height: 15px;
  display: block;
  cursor: pointer;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop-title-con.hidden {
  display: none;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-item {
  cursor: pointer;
  color: #292929;
  font-size: var(--type-body-s-size);
  font-weight: 400;
  line-height: var(--type-body-s-lh);
  padding: var(--spacing-xxs) var(--spacing-xs);
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
  text-align: left;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-empty-msg {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-item.hidden {
  display: none;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-item:hover {
  background-color: #e6e6e6;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-sep {
  border-top: 1px solid #E1E1E1;
  margin: 0 16px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer {
  padding: var(--spacing-xxs) var(--spacing-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--type-body-s-size);
  color: #292929;
  font-weight: 400;
  line-height: var(--type-body-s-lh);
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .tip-con {
  display: flex;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .tip-con.active {
  border: 1px solid #005FCC;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .tip-con svg {
  width: 20px;
  height: 20px;
  padding-right: var(--spacing-xxs);
  margin-top: 3px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .tip-con .tip-text {
  font-weight: 700;
  margin-right: 5px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .legal-con {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .legal-con::before {
  content: "|";
  color: #C6C6C6;
  margin-right: var(--spacing-xxs);;
  font-size: 12px;
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .legal-con .legal-text {
  color: #5258E4;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--type-detail-s-lh);
}

.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer .legal-con .legal-text:focus {
  outline: 2px solid #005FCC;
}

.unity-enabled .interactive-area .verbs-container {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid rgb(0 0 0 / 9%);
  width: 144px;
  height: 70px;
  justify-content: flex-start;
}

.unity-enabled .interactive-area .verbs-container .menu-icon {
  position: relative;
  top: 1px;
  transition: transform 0.15s ease-in;
}

.unity-enabled .interactive-area .verbs-container.show-menu .menu-icon {
  transform: rotate(-180deg);
}

.unity-enabled .interactive-area .selected-verb {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: stretch;
  padding: 0 32px;
  border-right: 1px solid #000;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  font-family: inherit;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
}

.unity-enabled .interactive-area .selected-verb[disabled="true"] {
  cursor: auto;
} 

.unity-enabled .interactive-area .verb-list {
  display: none;
  padding: 18px;
  list-style: none;
  background: #fff;
  box-shadow: 0 0 10px #0000001c;
  border-radius: 10px;
  color: #292929;
  margin: 8px 0 0;
}

.unity-enabled .interactive-area .verbs-container.show-menu .verb-list {
  display: block;
}

.unity-enabled .interactive-area .verb-list .verb-link {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 20px;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}

.unity-enabled .interactive-area .verb-list .verb-item .selected-icon {
  display: none;
}

.unity-enabled .interactive-area .verb-list .verb-item.selected .selected-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .autocomplete {
    width: auto;
  }

  .unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--spacing-m);
  }

  .unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap .inp-field {
    order: 1;
    flex: 1 1 100%;
  }

  .unity-enabled .interactive-area .verbs-container {
    order: 2;
    border-right: none;
    height: auto;
    position: relative;
  }

  .unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .act-wrap {
    order: 3;
  }

  .unity-enabled .interactive-area .selected-verb {
    padding: 0;
  }

  .unity-enabled .interactive-area .verb-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(70px);
  }

  .unity-enabled .interactive-area .ex-unity-wrap .alert-holder {
    transform: translateY(-80%);
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget {
    padding: 0;
    max-width: 720px;
    margin: 0 auto;
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky {
    bottom: 16px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget {
    padding: 0;
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky {
    bottom: 16px;
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget {
    width: 95%;
  }
}

@media screen and (max-width: 599px) {
  .hero-marquee.unity-enabled h1,
  .hero-marquee.unity-enabled h2,
  .hero-marquee.unity-enabled h3,
  .hero-marquee.unity-enabled h4,
  .hero-marquee.unity-enabled h5 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
  }

  .hero-marquee.unity-enabled p {
    font-size: var(--type-body-s-size);
    line-height: var(--type-body-s-lh);
  }   

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky {
    bottom: 16px;
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap {
    row-gap: var(--spacing-s);
    column-gap: 0;
    padding: var(--spacing-s);
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget {
    padding: 0;
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap.sticky .ex-unity-widget {
    width: 95%;
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .inp-wrap .inp-field {
    width: 100%;
    padding: 2px 0;
    line-height: var(--type-detail-xl-size);
  }

  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-sep,
  .hero-marquee.unity-enabled .interactive-area .ex-unity-wrap .ex-unity-widget .drop .drop-footer {
    display: none;
  }

  .unity-enabled .interactive-area .verbs-container {
    width: auto;
  }

  .unity-enabled .interactive-area .verbs-container.show-menu .verb-list {
    width: 140px;
  }

  .unity-enabled .interactive-area .ex-unity-wrap .alert-holder {
    transform: translateY(-90%);
  }
}
